* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  display: grid;
  grid-template-columns: 1fr 7fr;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  box-sizing: border-box;
}
body nav {
  background-color: #181818;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 160px;
  position: fixed;
  padding-bottom: 10vh;
}
body nav .pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 10vh auto 0;
  border-radius: 50%;
  background-color: #FFF;
  border: 3px solid #FFF;
  object-fit: cover;
}
body nav .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body nav .nav-list li {
  list-style: none;
  padding-top: 20px;
  border-top: solid #282828;
  width: 100%;
  display: flex;
  justify-content: center;
}
body nav .nav-list li a {
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  text-decoration: none;
  color: #909096;
}
body nav .nav-list li .active {
  color: #F91056;
}
body nav #social-medias .social-list {
  display: flex;
  justify-content: space-evenly;
}
body nav #social-medias .social-list li {
  list-style: none;
}
body nav #social-medias .social-list li a i {
  font-size: 28px;
}
body nav #social-medias a .fa-linkedin, body nav #social-medias a .fa-github, body nav #social-medias a .fa-instagram {
  color: #909096;
  transition: 0.4s;
  font-size: 24px;
}
body nav #social-medias .social-list li:hover a .fa-linkedin {
  color: #0e76a8;
}
body nav #social-medias .social-list li:hover a .fa-github {
  color: #fff;
}
body nav #social-medias .social-list li:hover a .fa-instagram {
  color: #E1306C;
}
body .intro {
  grid-column: 2/3;
  margin: 5%;
  display: flex;
  margin-top: 15vh;
}
body .intro #title {
  font-size: 50px;
  display: flex;
}
body .intro #oscar {
  color: #F91056;
}
body .intro #title:before, body .intro #title:after, body .intro #skills-title:after, body .intro #skills-title:before, body .intro #projects-title:before, body .intro #projects-title:after {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
}
body .intro #title:before, body .intro #skills-title:before, body .intro #projects-title:before {
  margin-top: -2rem;
  margin-left: -2rem;
}
body .intro #title:after {
  margin-top: 7rem;
  margin-left: 52rem;
}
body .intro #skills-title:after {
  margin-top: 3rem;
  margin-left: 8rem;
}
body .intro #projects-title:after {
  margin-top: 3rem;
  margin-left: 13rem;
}
body .about {
  margin: 10%;
  padding: 5%;
  grid-column: 2/3;
  border: 2px solid #F91056;
  border-radius: 7px;
  outline: none;
  box-shadow: 0 0 10px #F91056;
  font-size: 24px;
}
body .about a {
  color: #fff;
}
body .about a:hover {
  color: #F91056;
}
body .skills-list {
  margin: 0 5%;
  padding: 0 5%;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
body .skills-list .skill-title:before {
  content: ">";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 28px;
  position: absolute;
  margin-left: -2rem;
}
body .skills-list .skills-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
body .skills-list .skills-type article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --s0: calc(0.5em + 6px);
  --s1: calc(0.5em + 6px + 0.5em);
  place-self: center;
  position: relative;
  width: 10em;
  height: calc(10em * 1.4);
  border-radius: 40% 20%;
  border: solid 0 #909096;
  border-width: 0 var(--s0) var(--s0) 0;
  padding: var(--s1) 0.5em 0.5em var(--s1);
  background: #181818;
  gap: 10px;
}
body .skills-list .skills-type article img {
  max-width: 60%;
  max-height: 60%;
}
body .skills-list .skills-type article h3 {
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.75;
}
body .skills-list .skills-type article:hover::before {
  box-sizing: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border: inherit;
  border-width: 0.5em 0 0 0.5em;
  border-radius: 40% 20%;
  width: 10em;
  height: calc(10em * 1.4);
  box-shadow: inset 0 0 0 6px #F91056;
  pointer-events: none;
  content: "";
}
body .project-list {
  grid-column: 2/3;
  display: flex;
  position: relative;
  /*span
  *  opacity: 0
  *  transition: all 0.01s ease */
  /*.fade
  *  opacity: 1
  *  color: white */
}
body .project-list .project {
  height: 400px;
  width: 400px;
  padding: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .project-list .project .card {
  background-color: #181818;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  transform: translateY(100px);
  transition: 0.5s ease;
}
body .project-list .project .card img {
  max-height: 50%;
  max-width: 50%;
}
body .project-list .project .open-card {
  width: 100%;
  background-color: #909096;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: translateY(-100px);
  transition: 0.5s ease;
}
body .project-list .project:hover .card {
  transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}
body .project-list .project:hover .open-card {
  transform: translateY(0);
}

@media (max-width: 1018px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body nav {
    display: none;
    z-index: 90;
    width: 100vw;
    font-size: 28px;
    padding-bottom: 40px;
  }
  body nav .pp {
    margin-top: 30px;
  }
  body nav .nav-list {
    gap: 30px;
  }
  body nav .nav-list li {
    padding-top: 30px;
  }
  body nav #social-medias a .fa-linkedin, body nav #social-medias a .fa-github, body nav #social-medias a .fa-instagram {
    font-size: 32px;
  }
  body #menu {
    z-index: 100;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 100%;
    cursor: pointer;
  }
  body #menu i {
    position: absolute;
    color: #000;
    top: 20px;
    right: 20px;
    font-size: 26px;
  }
  body .intro #title {
    font-size: 40px;
  }
  body .intro #title:after {
    margin-top: 6rem;
    margin-left: 41rem;
  }
  body .skills-list .skill-title {
    margin-top: 5%;
  }
}
@media (max-width: 815px) {
  body .intro #title {
    font-size: 30px;
  }
  body .intro #title:after {
    margin-top: 4rem;
    margin-left: 31rem;
  }
  body .about {
    margin-top: 20%;
  }
}
@media (max-width: 600px) {
  body .intro {
    margin-top: 25%;
  }
  body .intro #title {
    font-size: 28px;
  }
  body .intro #title:after {
    margin-top: 3rem;
    margin-left: 29rem;
  }
  body .about {
    margin-top: 20%;
  }
}
@media (max-width: 506px) {
  body .intro {
    margin-top: 35%;
  }
  body .intro #title {
    font-size: 21px;
  }
  body .intro #title:after {
    margin-top: 3rem;
    margin-left: 20rem;
  }
  body .about {
    margin-top: 30%;
  }
  body .skills-list .skill-title {
    margin-top: 10%;
  }
  body .skills-type article {
    --s0: calc(0.4em + 4px) !important;
    --s1: calc(0.4em + 4px + 0.4em) !important;
    width: 8em !important;
    height: 11.2em !important;
    border-width: 0 var(--s0) var(--s0) 0 !important;
    padding: var(--s1) 0.4em 0.4em var(--s1) !important;
  }
  body .skills-type article h3 {
    font-size: 1em !important;
    font-weight: 0 !important;
    line-height: 1.75 !important;
  }
  body .skills-type article:hover::before {
    border-width: 0.4em 0 0 0.4em !important;
    border-radius: 40% 20% !important;
    width: 8em !important;
    height: 11.2em !important;
    box-shadow: inset 0 0 0 4px #F91056 !important;
  }
}
@media (max-width: 370px) {
  body .skills-type article {
    --s0: calc(0.3em + 4px) !important;
    --s1: calc(0.3em + 4px + 0.3em) !important;
    width: 6em !important;
    height: 8.4em !important;
    border-width: 0 var(--s0) var(--s0) 0 !important;
    padding: var(--s1) 0.3em 0.3em var(--s1) !important;
  }
  body .skills-type article h3 {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.75 !important;
  }
  body .skills-type article:hover::before {
    border-width: 0.3em 0 0 0.3em !important;
    border-radius: 40% 20% !important;
    width: 6em !important;
    height: 8.4em !important;
    box-shadow: inset 0 0 0 4px #F91056 !important;
  }
}

/*# sourceMappingURL=build.css.map */
