*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: #1d1d1d
    display: grid
    grid-template-columns: 1fr 8fr
    font-family: "Open Sans",sans-serif
    color: #fff
    nav
        background-color: #181818
        grid-column: 1/2
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100vh
        width: 136px
        position: fixed
        padding-bottom: 15%
        .pp 
            display: block
            width: 128px
            height: 128px
            margin: 10px auto 30px
            border-radius: 50%
            background-color: #FFF
            border: 3px solid #FFF
            object-fit: cover
        .nav-list
            display: flex
            flex-direction: column
            align-items: center
            gap: 10px
            li
                list-style: none
                padding-top: 7px
                border-top: solid #282828
                width: 100%
                display: flex
                justify-content: center
                a
                    justify-content: space-between
                    text-decoration: none
                    color: #909096
                .active
                    color: #F91056
        #social-medias
            .social-list
                display: flex
                justify-content: space-evenly
                li
                    list-style: none
        #social-medias a .fa-linkedin, #social-medias a .fa-github, #social-medias a .fa-instagram
            color: #909096
            transition: 0.4s
            font-size: 24px
        #social-medias .social-list li:hover a .fa-linkedin
            color: #0e76a8
        #social-medias .social-list li:hover a .fa-github
            color: #fff
        #social-medias .social-list li:hover a .fa-instagram
            color: #E1306C
    .intro
        grid-column: 2/3
        margin: 5%
        display: flex
        margin-top: 15vh 
        h1
            font-size: 50px
            display: flex
        #oscar
            color: #F91056
        #title:before, #title:after, #skills-title:after, #skills-title:before
            content: '<h1>'
            font-family: 'La Belle Aurore',cursive
            color: #515152
            font-size: 18px
            position: absolute
        #title:before, #skills-title:before
            margin-top: -2rem
            margin-left: -2rem
        #title:after
            margin-top: 7rem
            margin-left: 52rem
        #skills-title:after
            margin-top: 3rem
            margin-left: 8rem
    .about
        margin: 10%
        padding: 5%
        grid-column: 2/3
        border: 2px solid #F91056
        border-radius: 7px
        outline: none
        box-shadow: 0 0 10px #F91056
        font-size: 24px
        a
            color: #fff
        a:hover
            color: #F91056


        /*span
            opacity: 0
            transition: all 0.01s ease
        /*.fade
            opacity: 1
            color: white




